<!DOCTYPE html>    
<html>    
<head>    
    <title>Chatroom</title>    
</head>    
<body>    
    <h2>Chatroom</h2><br>    
    <div class="login">    
    <form id="chat" method="post">    
        <textarea id="output" name="output" rows="5" cols="33"></textarea>
        <br><br>
        <textarea id="input" name="input" rows="2" cols="33">Send Something</textarea>
        <br><br>   
        <input type="submit" name="send" id="send" value="Send">       
        <br><br>    
    </form>     
</div>    
</body>    
</html>     